body {
  background-image: linear-gradient(90deg, #84fabe 0%, #8fd3f4 100%);
}

h1 {
  margin:20px !important;
  font-weight: bold !important;
  text-align: center;
}

button {
  margin: 20px !important;
  border: 2px solid black !important;
}
